body{
	font-family: 'Lato', sans-serif;
	padding-left: 10px;
	background: -webkit-linear-gradient(#43B0C5, #43B0AA); /* For Safari 5.1 to 6.0 */
    			background: -o-linear-gradient(#43B0C5, #43B0AA); /* For Opera 11.1 to 12.0 */
    			background: -moz-linear-gradient(#43B0C5, #43B0AA); /* For Firefox 3.6 to 15 */
   				background: linear-gradient(#43B0C5, #43B0AA); /* Standard syntax (must be last) */;
}
.header{

	color : white;

}
p {

	color: white;
}
.PostTitle{
	color: #43B0C5;
}
.BlogHeading{
	color: white;
	text-align: center;
}

.underline{
	text-decoration:none;
}

a{
	
	color: white
}

#twitter{
	position: float;
	right:19px;
}

#insta{
	 position: absolute;
    top: 0px;
    right: 0px;
}

.LNPost{

	width:997px;
	overflow:hidden;
	margin:0 auto;
	background-color:white;
	padding:20px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(171,205,209,1);
	-moz-box-shadow: 4px 4px 5px 0px rgba(171,205,209,1);
	box-shadow: 8px 8px 500px 8px rgba(171,205,209,1);
	margin-bottom: 70px;
}


.LNPost > .img{
	width:997px;
	height:370px;
	overflow:hidden;
}
.FoodPost{
	width:997px;
	overflow:hidden;
	margin:0 auto;
	background-color:white;
	padding:20px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(171,205,209,1);
	-moz-box-shadow: 4px 4px 5px 0px rgba(171,205,209,1);
	box-shadow: 8px 8px 500px 8px rgba(171,205,209,1);
	margin-bottom: 70px;
}

.FoodPost > .img{
	width:997px;
	height:350px;
	overflow:hidden;
}

.img > img {
	width:100%;
	margin-top:0px;
}

.content{
	color: black;
}
.FireworksPost{
	width:1010px;
	height: 901px;
	overflow:hidden;
	margin:0 auto;
	background-color:white;
	padding:20px;
	padding-right: 10px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(171,205,209,1);
	-moz-box-shadow: 4px 4px 5px 0px rgba(171,205,209,1);
	box-shadow: 8px 8px 500px 8px rgba(171,205,209,1);
	margin-bottom: 70px;
}
